<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='semantic-ui/semantic.min.js') }}"></script>
</head>
<body>
<header>
    <h2 class="ui icon center aligned header">
        <i class="settings icon"></i>
        <div class="content">
            Calculator
            <div class="sub header">Calculate some simple things.</div>
        </div>
    </h2>
</header>
<section class="ui segment">
    <form method="POST">
        <div class="ui centered divided grid">
            <div class="four column centered row">
                <div class="column">
                    <div class="ui fluid labeled input">
                        <div class="ui label">x=</div>
                        <input type="number" placeholder="0" name="x" value="0">
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid labeled input">
                        <div class="ui label">y=</div>
                        <input type="number" placeholder="0" name="y" value="0">
                    </div>
                </div>
            </div>
            {% for operation in operations %}
            <div class="six wide column">
                <button class="ui blue fluid button" type="submit" formmethod="POST"
                        formaction="/calculate/{{ operation }}">
                    {{ operations[operation] }}
                </button>
            </div>
            {% endfor %}
        </div>
        </div>
    </form>
</section>
<section id="results">
    <div class="ui two column centered grid">
        <div class="centered column">
            <div class="ui piled segments">
                {% for result in results %}
                <div class="ui blue segment">{{ result }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<footer></footer>
</body>
</html>